.wallpaper-container {
  margin-top: 4rem;
}

#image-container {
  display: flex;
  flex-wrap: wrap;
}

.image-item {
  margin: 10px;
  position: relative;
}

.image-item img {
  max-width: 200px;
  max-height: 200px;
  min-width: 200px;
}

.images-display {
  margin-top: 5rem;
}

.delete-btn {
  border: 1px solid black;
  position: absolute;
  left: 0;
  top: 0;
}